<h1>Editing Mannequin</h1>
<br>


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 col-xs-offset-5">
      <button class="btn btn-base"><%= link_to 'Profile', mannequin_path(@mannequin), target: "_blank" %></button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="text-center">
        <%= render 'form' %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="text-center">
        <%= render 'attachinary_files/form' %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', mannequins_path %>
