<div class="banner" style="background-image: url(<%= image_path 'dynamodel_banner.jpg' %>);">
  <div class="banner-content">
    <h1 class="f500" >Find quikcly the best models</h1>
    <div class="tutorial text-center container">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <%= link_to "Search", mannequins_path, :class => "btn-banner-search text-uppercase", id: "btn-home" %>
          <%= link_to "How to use", root_path, :class => "btn-banner-manual text-uppercase hidden-xs", id: "btn-home" %>
        </div>
      </div>
    </div>
  </div>
</div>
