.background-new-reg {
  background: center no-repeat;
  background-size: cover !important;
  position: relative;
  color: rgb(59, 59, 60);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
    h1 {
      font-size: 4,4rem;
      text-align: center;
      margin-bottom: 20px;
    }
    p {
      color: rgba(59, 59, 60, 0.9);
    }
}
