
.btn-white-category{
  padding: 9px 18px;
  margin-bottom: 20px;
  border: 1px solid $brand-color;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  &:hover{
    background-color: $brand-color;
    color: white;
  }
}

.btn-white {
  margin-right: 5px;
  background: #fff;
  border: none;
  color:#4F4F4F;
  transition: background-color .3s ease;
}
.btn-gray {
  margin-left: 5px;
  background-color: rgba(220, 220, 220, 0.8);
  color: #454546;
  border: none;
}
.btn-base{
  border-radius: 18px;
  padding: 8px 25px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom:10px;
  &:hover{
   background-color: #3B3B3C;
   color: #FFFFFF;
 }
}

.btn-facebook{
  background-color: #3B5998;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 8px 20px;
  text-align: center;
  &:hover{
    background-color: #4568B2;
    color: white;
    text-decoration: none;
  }
}

.btn-medium {
  color: #3B3B3C;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.5;
  background-color: lightblue;
}

.btn-medium:hover {
  opacity: 0.8;
  text-decoration: none;
  color: #3B3B3C;
}
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

  .btn-yellow{
    background-color: $yellow;
    border-radius: 35px;
    border: solid 1px $yellow;
    transition: all 0.2s ease;
    padding: 8px 30px;
    color: whitesmoke;
    &:hover{
      background-color: whitesmoke;
      padding: 8px 31px;
      color: $yellow;
      font-weight: bold;
    }
  }

  .btn-blue{
    background-color: $blue;
    border-radius: 35px;
    border: solid 1px $blue;
    transition: all 0.2s ease;
    padding: 8px 30px;
    color: whitesmoke;
    &:hover{
      background-color: whitesmoke;
      padding: 8px 31px;
      color: $blue;
      font-weight: bold;
    }
  }

  .btn-delete{
    background-color: #07beb8;
    border-radius: 35px;
    margin-top: 4px;
    border: solid 1px #07beb8;
    transition: all 0.2s ease;
    padding: 4px 15px;
    color: white;

    &:hover{
      background-color: white;
      border-radius: 35px;
      padding: 4px 15px;
      border: solid 1px #3b3b3c;
      color: #3b3b3c;
      font-weight: bold;
    }

  }

