.btn-white {
  margin-right: 5px;
  background: #fff;
  border: none;
  color:#4F4F4F;
  transition: background-color .3s ease;
}
.btn-gray {
  margin-left: 5px;
  background-color: rgba(220, 220, 220, 0.8);
  color: #454546;
  border: none;
}
.btn-base{
  border-radius: 18px;
  padding: 8px 25px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom:10px;
  &:hover{
     background-color: #3B3B3C;
  color: #FFFFFF;
  }
}

.btn-facebook{
  background-color: #3B5998;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 8px 20px;
  text-align: center;
  &:hover{
    background-color: #4568B2;
    color: white;
    text-decoration: none;
  }
}

.btn-medium {
  color: #3B3B3C;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.5;
  background-color: lightblue;
}

.btn-medium:hover {
  opacity: 0.8;
  text-decoration: none;
  color: #3B3B3C;
}
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

/*CUSTOM BUTTONS BY JB*/
.btn-profile {
  margin-bottom: 40px;
}

$duration: .20;
$easing: ease-in-out;



[datawipe] {
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  position: relative;
  border: 2px solid #445561;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
  color: #445561;
  overflow: hidden;

  &:before, &:after {
    content: attr(data-wipe);
    padding-top: inherit;
    padding-bottom: inherit;
    white-space: nowrap;
    position: absolute;
    top: 0;
    overflow: hidden;
    color: #F1F1F2;
    background: #445561;
  }

  &:before {
    left: 0;
    text-indent: 18px;
    width: 0;
  }

  &:after {
    padding-left: inherit;
    padding-right: inherit;
    left: 100%;
    text-indent: calc(-100% - 36px);
    transition: $duration + s $easing;
  }

  &:hover {
    &:before {
      width: 100%;
      transition: width $duration + s $easing;
    }

    &:after {
      left: 0;
      text-indent: 0;
      transition: 0s $duration + s $easing;
    }
  }
}
